.container-2 {
    display: grid;
    min-height: 100%;
    grid-template-columns: 130px 60% 20% 1fr;
    grid-template-rows: 165px 1fr 400px 100px;
}

.syllabus {
    grid-column: 2 / 2;
    grid-row: 2;
    height: auto;
    margin: 0px 20px 20px 30px;
}

/* Resources */
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: left;
    padding: 10px;
}

table a:hover {
    border: none;
    color: #1D407C;
    font-weight: 600;
}

.module {
    width: 90%;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    line-height: 2em;
}

.module img {
    margin-right: 8px;
    vertical-align: middle;
    height: 30px;
    width: auto;
}

.download {
    width: 10%;
}

#download {
    border-bottom: none;
    float: right;
}
.download img {
    vertical-align: middle;
    height: 20px;
    display: inline-block;
    filter: grayscale(100%);
    width: auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
}

.download img:hover {
    filter: grayscale(0%);
    border: 1px solid #1D407C;
    border-radius: 5px;
    padding: 3px;
}

tr {
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

tr:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: 5px;
}

.secondary-nav {
    grid-column: 3 / 3;
    grid-row: 2;
    height: 100%;
    margin: 100px 20px 20px 20px;
    max-width: 230px;
}

.secondary-nav h4 {
    display: none;
}

.secondary-nav ul {
    margin: 0;
    padding: 0;
    overflow: scroll;
    max-height: 500px;
}

.secondary-nav li {
    margin: 20px 0 0px 0;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 0px;
    font-weight: 600;
}

.secondary-nav ul a {
    display: block;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    background: white;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 30px;
}

.secondary-nav ul a:hover {
    border: none;
    color: white;
    background: #1D407C;
}

#helpful-links a {
    background: none;
    text-align: left;
    margin-bottom: 0px;
    padding: 10px 0 0 0;
}

#helpful-links a:hover {
    color: #1D407C;
    text-decoration: underline;
}

#overlay {
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to bottom, rgba(246, 246, 246, 0), rgba(246, 246, 246, 1) 90%);
    height: 30px;
    margin-top: -30px;
    margin-right: 15px;
}

p {
    line-height: 2em;
}

/* Mobile Phone */
@media only screen and (max-width: 599px) {
    .container {
        grid-template-rows: 165px 1fr 400px 100px;
    }

    .container-2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    /* Syllabus */
    .syllabus {
        grid-column: 1;
        grid-row: 4;
        margin: 20px 20px 20px 20px;
    }

    #lessons {
        grid-row: 3;
        margin-top : 30px;
    }

    /* Secondary Nav */
    .secondary-nav {
        grid-column: 1;
        grid-row: 3;
        max-width: none;
        margin: 10px 0px -5px 0px;
        overflow: auto;
        white-space: nowrap;
        border-bottom: 0 none;
        padding: 15px 0 0 20px;
        box-shadow: none;
    }

    #helpful-links-nav {
        grid-row: 4;
        display: block;
        margin-bottom: 20px;
        margin-left: 40px;
    }

    #helpful-links-nav a {
        display: block;
    }

    .secondary-nav h4 {
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .secondary-nav ul a {
        display: inline-block;
        background: white;
        font-size: 14px;
        padding: 3px 10px 3px 10px;
        margin: 0 7px 0px 0px;
    }
}

/* Tablet Screen */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .container-2 {
        grid-template-columns: 130px 1fr;
        grid-template-rows: auto;
    }

    /* Syllabus */
    .syllabus {
        grid-column: 2 / 2;
        grid-row: 3;
        margin: 20px 20px 20px 20px;
    }

    #lessons {
        grid-row: 3;
    }

    /* Secondary Nav */
    .secondary-nav {
        grid-column: 2 / 3;
        grid-row: 2;
        max-width: none;
        margin: 20px 0px 0px 20px;
        overflow: auto;
        white-space: nowrap;
        border-bottom: 0 none;
        box-shadow: none;
    }

    #helpful-links-nav {
        grid-row: 4;
        display: block;
        margin-bottom: 20px;
        margin-left: 40px;
    }

    #helpful-links-nav a {
        display: block;
    }

    .secondary-nav ul a {
        display: inline-block;
        padding: 5px 12px 5px 12px;
        margin: 0px 10px 0px 0px;
    }
}
